@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&display=swap');
.wf-mplus1p { font-family: "M PLUS 1p"; }
* {
    margin: 0;
    padding: 0;
    text-align: left;
    margin-top: 10px;
    /* background-color: #FFF7E6; */
    -webkit-appearance: none; /*--各ブラウザのCSSを解除--*/
	-moz-appearance: none; /*--各ブラウザのCSSを解除--*/
	appearance: none; /*--各ブラウザのCSSを解除--*/
}
/* 共通部分 */
.profile-body {
    background-color: #FFF7E6;
    display: block;
    position: absolute;
}
.mark {
    background-color: #FBCFC3;
    border: 2px solid #FBCFC3;
    border-radius: 5px;
    padding: 3px 5px;
    font-weight: bold;
}
.table dl {
    display:table;
    border: none;
    width:99%;
}  
.table dt {
    font-weight:bold;
    vertical-align:middle;
    display:table-cell;
    padding:3px 0;
    min-height:1.5em;
    text-align: left;
    display: inline-block;
    width: 450px;
} 
.table dd {
    display:table-cell;
    min-height:1.5em;
    padding:5px 0 10px 5px;
}

.filelabel {
    display: inline-block;     /* インラインブロック化 */
}
.filelabel img {
    /*vertical-align: bottom;     画像の垂直方向の配置 */
    width: 160px;
    height: 160px;
    border-radius: 100%;
}
.filelabel:hover {
    cursor: pointer;           /* マウス形状(ポインタ) */
}
#filesend {
    display: none;  /* 本来のファイル選択フォームは非表示に */
}
.common-input {
    text-align: left;
    display: inline-block;
    margin-bottom: 20px;
    border: 1px solid #E6E6E6;
    width: 500px;
    height: 25px;
    writing-mode: horizontal-tb !important;
    text-rendering: auto;
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    appearance: auto;
    -webkit-rtl-ordering: logical;
    cursor: text; /* マウスポインターが要素の上にいるときに表示されるマウスカーソルの種類 */
    background-color: field;
    margin: 0em;
    padding: 1px 2px;
    border-width: 2px;
}
.sex {
    text-align: left;
    display: inline-block;
    margin-bottom: 20px;
    border: 1px solid #E6E6E6;
    writing-mode: horizontal-tb !important;
    text-rendering: auto;
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    appearance: auto;
    -webkit-rtl-ordering: logical;
    cursor: text; /* マウスポインターが要素の上にいるときに表示されるマウスカーソルの種類 */
    background-color: field;
    margin: 0em;
    padding: 1px 2px;
    border-width: 2px;
}
textarea {
    resize: none;
    border: 2px solid #E6E6E6;
    width: 500px;
    height: 100px;
}
::placeholder {
    padding-left: 10px;
}
.remit {
    text-align: right;
}

/* ボタンデザイン */
.profile-btn {
    align-self: center;
    background-color: #FBCFC3;
    background-image: none;
    background-position: 0 90%;
    background-repeat: repeat no-repeat;
    background-size: 4px 3px;
    /* border-radius: 15px 225px 255px 15px 15px 255px 225px 15px; */
    border-radius: 10px; 
    border-style: none;
    border-width: 2px;
    box-shadow: rgba(0, 0, 0, .2) 15px 28px 25px -18px;
    box-sizing: border-box;
    color: white;
    font-weight: bold;
    cursor: pointer;
    display: inline-block;
    font-family: Neucha, sans-serif;
    /* font-size: 1rem; */
    font-size: 20px;
    line-height: 8px;
    outline: none;
    /* padding: .75rem;
    margin-right: 10px; */
    padding: 20px 15px;
    width: 150px;
    height: 45px;
    margin-top: 15px;
    text-align: center;
    text-decoration: none;
    transition: all 235ms ease-in-out;
    /* border-bottom-left-radius: 15px 255px;
    border-bottom-right-radius: 225px 15px;
    border-top-left-radius: 255px 15px;
    border-top-right-radius: 15px 225px; */
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}
.profile-btn:hover {
  box-shadow: rgba(0, 0, 0, .3) 2px 8px 8px -5px;
  transform: translate3d(0, 2px, 0);
}

.profile-btn:focus {
  box-shadow: rgba(0, 0, 0, .3) 2px 8px 4px -6px;
}

/* スマホ用 */
@media (max-width: 767px) {
    .table dd{
        border-left:none;
        margin-left:auto;
        margin-top: 5px;
        text-align: left;
        margin-left: 3px;
    }       
    .table dt{
        padding-left:0px;
        text-align:left;
        padding-bottom: 0;
        margin-bottom: 0;
        width: auto;
    }        
    .table dl{
        width:auto;
    }      
    .table dt,.table dd,.table dl{
        display:block;
    }
}